<h1>controlflow works!</h1>
<!-- <button (click)="handleBtn()">{{ display ? "hide" : "show" }}</button> -->
<button (click)="handleDefaultBtn(3)">red btn</button>
<button (click)="handleDefaultBtn(2)">green btn</button>
<button (click)="handleDefaultBtn(1)">blue btn</button>
<button (click)="handleDefaultBtn(4)">default btn</button>
<br />
<input type="text" #inputColor placeholder="Enter color name" />

<button (click)="handleInputBtn(inputColor.value)">change color btn</button>
@if(display==1 || displayColor=='blue') {
<div class="rectangle-blue"></div>
} @else if (display==2 || displayColor=='green') {
<div class="rectangle-green"></div>
} @else if (display==3 || displayColor=='red') {
<div class="rectangle-red"></div>
} @else{
<div class="rectangle-default"></div>
}
