<p>signal works!</p>

<!-- <ul>
  @for (u of user2; track u.name) {
  <li>{{ u.name }}</li>
  <li>{{ u.age }}</li>
  }
  <h1>=============================</h1>
  <h3>signal example</h3>
  <ul>
    @for (user of user1(); track user.name) {
    <li>{{ user.name }}</li>
    <li>{{ user.age }}</li>
    }
  </ul>

  <h1>=============================</h1>
  <button (click)="addUser('John', 25)">Add User1</button>
  <button (click)="addUser1('ham', 25)">Add User2</button>
</ul> -->
<!-- 
<h1>{{ count() }}</h1>
<button (click)="increment()">increment</button>
<button (click)="decrement()">decrement</button>
<br />
<h1>{{ message() }}</h1>
<button (click)="updateMessage()">change message</button> -->

<!-- Effect example -->

<h1>{{ products() }}</h1>
<button (click)="addProduct('mango')">click here</button>
